html,
body {
  height: 100%;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: grid;
  grid-template-columns: 250px 300px auto 50px;
  grid-template-areas: "aside inbox chat panel";
  overflow-y: auto;
}
aside {
  grid-area: aside;
  background: lightblue;
}
.inbox {
    grid-area: inbox;
  overflow-y: scroll;
}
.panel {
  grid-area: panel;
  background: lightgray;
}
.chat {
  grid-area: chat;
  background: #fff;
  border-right: 1px solid lightgray;
  grid-area: "chat__header chat__content send-block";
  grid-template-rows: 20% auto 20%;
} 
.chat__header {
    grid-area: chat__header;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2%;
    border-bottom: 1px solid lightgray;
    padding-bottom: 2%;
}
.chat__content {
    grid-area: chat__content;
    padding: 3%;
    display: flex;
    flex-direction: column;
}
.time_right {
  float: right;
  color: gray;
  font-family: 'Times New Roman', Times, serif;
  font-size: 13px;
  margin-right: 3%;
}
.time_left {
  float: left;
  color: gray;
  font-family: 'Times New Roman', Times, serif;
  font-size: 13px;
  margin-left: 3%;
}
.text_right {
  float: right;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  margin-right: 5%;
  margin-top: 3%;
}
.text_left {
  float: left;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  margin-left: -2%;
  margin-top: 4%;
}
.chat__content_title {
  font-family: 'Times New Roman', Times, serif;
  font-size: 19px;
  font-weight: 500;
  color: grey;
}
.voice__message {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 10%;
  margin-right: 3%;
}
.voice__message_left {
  display: flex;
  flex-direction: row;
  margin-top: 12%;
  margin-left: 3%;
}
.voice__img {
  margin-top: -9%;
}
.doc {
  margin-top: 12%;
  margin-bottom: 3%;
  margin-left: 3%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.doc img {
  height: 50px;
}
.doc__info {
  margin-top: 2%;
}
.doc__info li {
  list-style: none;
  font-family: 'Times New Roman', Times, serif;
}
.doc__info_name {
  color:rgb(10, 80, 150);
  font-weight: bold;
  font-size: 17px;
}
.doc__info_size {
  color: grey;
  font-family: 'Times New Roman', Times, serif;
  font-size: 14px;
}
.send-block {
    grid-area: send-block;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.send-block img {
  height: 32px;
  margin-top: 2%;
  margin-left: 1%;
}
textarea {
  border: none;
  margin-top: 2%;
  margin-left: 1%;
  font-family: 'Times New Roman', Times, serif;
  font-size: 17px;
}
textarea:active, :focus {
  outline: 0;
  outline-offset: 0;
}
.inbox__messages {
  border-right: 1px solid lightgray;
}
.inbox__header_logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: bolder;
    padding: 10px;
}
.inbox__switcher {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: gray;
    border: 1px solid rgb(238, 231, 231);
    border-radius: 30px;
    padding: 5px;
    background-color: rgb(238, 231, 231);
}
.inbox__switcher_bold {
    font-weight:500;
    color: black;
    border: 1px solid white;
    border-radius: 20px;
    background-color: white;
    padding: 0px 40px 0px 40px;
}
.header__item{
    display: grid;
    grid-template-columns: 120px auto;
    position: relative;
    margin-left: -15%;
}
.image-container {
    width: 60px;
    line-height: 0;
    aspect-ratio: 1;
}
.image-container img {
    width: 100%;
    height:100%;
    object-fit: cover;
    border: 2px solid rgb(42, 153, 57);
    border-radius: 24px;
    margin-left: 30px;
    position: relative;
}
.image-container_online {
    background: lightgreen;
    width: 15px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 3px solid #fff;
    position: absolute;
    top: 67.5%;
    left: 37%;
}
.header__item_info {
    margin-top: 5%;
    margin-left: -10%;
}
.header__item_info li {
    list-style: none;
    line-height: 1.5;
    font-family: 'Times New Roman', Times, serif;
}
.header__item_info_bold {
    font-weight: bolder;
    font-size: 17px;
}
.header__item_info_gray {
    color: gray;
}
.search {
  background: lightgray;
  width: 250px;
  height: 30px;
  border-radius: 8px;
  display: flex;
  align-items: center;
}
.search__input {
  background: none;
  border: none;
  padding: 1rem;
  font-size: 1rem;
}
.search__input:focus {
  outline: none;
}
.search__button {
  background: none;
  border: none;
  font-size: 1.5rem;
}
.search__add {
    height: 30px;
}
.search__add img {
    height: 100%;
    width: 100%;
    left: 40%;
}


.messages {
  padding: 2rem;
  width: 390px;
  height: 100%;
  border-top:none;
  border-bottom:none;
}
.item {
  padding: 15px;
  border-radius: 16px;
  width: 300px;
  background-color:rgb(238, 231, 231);
  display: grid;
  grid-template-columns: 90px 150px auto;
}
.avatar-container {
  line-height: 0;
  width: 75px;
  aspect-ratio: 1;
  position: relative;
}
.avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 24px;
}
.online {
  background: lightgreen;
  width: 15px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 3px solid #fff;
  position: absolute;
  right: 5px;
  bottom: 5px;
}
.last-message {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5;
  font-family: 'Times New Roman', Times, serif;
}
.last-message_bold {
    font-weight: bolder;
    font-size: 17px;
}
.last-message_gray {
    color: grey;
}
.last-message_normal {
    overflow: hidden;
    text-overflow: ellipsis;
}
.indicator {
    border: 1px solid rgb(81, 124, 204);
    background-color:rgb(81, 124, 204);
    position:relative;
    width:fit-content;
    height:fit-content;
    border-radius: 100px;
    padding: 3px;
    font-size: 13px;
    color: white;
    top: 30px;
}
.item:not(:last-child) {
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  aside,
  .inbox,
  .panel {
      display: none;
  }
  .wrapper {
      display: block;
  }
}
