html,
body,
.wrapper {
  height: 100%;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.wrapper {
  display: grid;
  grid-template-columns: 100px 150px auto 50px;
  grid-template-areas: "aside inbox chat panel";
}
aside {
  grid-area: aside;
  background: lightblue;
}
.inbox {
  grid-area: inbox;
  background: coral;
}
.panel {
  grid-area: panel;
  background: lightgray;
}
.chat {
  grid-area: chat;
  background: #fff;
  display: grid;
  grid-template-rows: 150px auto 150px;
}
.messages {
  border-bottom: 2px solid grey;
  border-top: 2px solid grey;
}
.header {
  padding: 50px;
}
.search {
  background: lightgray;
  width: 270px;
  border-radius: 8px;
  display: flex;
  align-items: center;
}
.search__input {
  background: none;
  border: none;
  padding: 1rem;
  font-size: 1rem;
}
.search__input:focus {
  outline: none;
}
.search__button {
  background: none;
  border: none;
  font-size: 1.5rem;
}
.messages {
  padding: 2rem;
  overflow-y:scroll;
  width: 390px;
  height: 70%;
}
.item {
  padding: 15px;
  border-radius: 16px;
  width: 300px;
  background-color:rgb(238, 231, 231);
  display: grid;
  grid-template-columns: 90px 150px auto;
}
.avatar-container {
  line-height: 0;
  width: 85px;
  aspect-ratio: 1;
  position: relative;
}
.avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 24px;
}
.online {
  background: lightgreen;
  width: 15px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 3px solid #fff;
  position: absolute;
  right: 5px;
  bottom: 5px;
}
.last-message {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5;
  font-family: 'Times New Roman', Times, serif;
}
.last-message_bold {
    font-weight: bolder;
    font-size: 17px;
}
.last-message_gray {
    color: grey;
}
.last-message_normal {
    overflow: hidden;
    text-overflow: ellipsis;
}
.indicator {
    border: 1px solid cornflowerblue;
    background-color:cornflowerblue;
    position:relative;
    width:fit-content;
    height:fit-content;
    border-radius: 100px;
    padding: 5px;
    font-size: 14px;
    color: white;
    top: 30px;
}
.item:not(:last-child) {
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  aside,
  .inbox,
  .panel {
      display: none;
  }
  .wrapper {
      display: block;
  }
}