body {
    background-color: rgb(9, 13, 66);
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-auto-rows: 150px;
    grid-column-gap: 10px;
    grid-row-gap: 1em;
    width: 65%;
    height: 50%;
    margin-top: 5%;
    margin-left: 15%;
}
.box-1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    background-color:forestgreen;
    border: 2px solid black;
}
.box-2 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    background-color:forestgreen;
    border: 2px solid black;
}
.box-3 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    background-color:rgb(226, 29, 29);
    border: 2px solid black;

}
.box-4 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: rgb(202, 154, 31);
    border: 2px solid black;
}
.box-5 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: rgb(226, 29, 29);
    border: 2px solid black;
}
.box-6 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: rgb(226, 29, 29);
    border: 2px solid black;
}
.box-7 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: rgb(202, 154, 31);
    border: 2px solid black;
}
.box-8 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: forestgreen;
    border: 2px solid black;
}

